button{
    color: black;
    padding: 4px 7px;
    border: 1px;
}

.like{
    background-color: lightgreen;
    box-shadow: 2px 2px inset;
    border-radius: 5px;
}

.dislike{
    background-color: lightcoral;
    box-shadow: 2px 2px inset;
    border-radius: 5px;
}

.inactive{
    background-color: #0777b352;
    box-shadow: 2px 2px;
    border-radius: 5px;
}