.app{
  min-height: 100em;
  background-color: #0777b352;
}

.nav-1{
  z-index: 1;
  top: 0;
  margin: auto;
  max-width: 100%;
  position: sticky;
}

.new-post{
  margin: auto;
  max-width: 60%;
}

.feed{
  padding-bottom: 1em;
  padding-top: 1em;
  /* border: 3px;
  border-radius: 25px;
  border-style: solid;
  border-color: lightblue; */
  margin: auto;
  max-width: 60%;
}